<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-success text-center">
        <b>{{num_entries}} pages recorded</b>
      </div>
    </div>
  </div>

  <div class="row p-3">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center"><b>Index a single URL</b></div>
        <div class="card-body">
          <p> Index a URL on your network. At the moment, we are assuming that the accessed file is in .txt format (i.e. has undergone preprocessing).</p>

          <form method="POST" accept-charset="UTF-8" enctype="multipart/form-data"
            action="{{url_for('indexer.from_url')}}">
            <div class="input-group p-2">
              <span class="input-group-text">URL</span>
              <input required type="text" class="form-control" placeholder="Ex: http://localhost:9090/static/testdocs/root/Writing/novel_draft.txt" name='url' id='url'>
            </div>
        </div>
        <div class="card-footer clearfix">
          <span class="input-group-btn float-end">
            <input id="submit_button" type="submit" class="btn btn-success" value="Index URL">
          </span>
        </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center"><b>Index the files from the OMD index</b></div>
        <div class="card-body">
	<p>This option recursively indexes the files in a directory. To use with the official OnMyDisk setup.</p>

          <form method="POST" accept-charset="UTF-8" enctype="multipart/form-data"
            action="{{url_for('indexer.from_omd_index')}}">
            <div class="input-group p-2">
              <span class="input-group-text">URL</span>
              <input required type="text" name='url' class="form-control input-s" accept="text/plain" name='file_source' placeholder="Ex: http://localhost:9090/static/testdocs/index.html"
                id='file_source'>
              {% with messages = get_flashed_messages(category_filter=["text"]) %}
              {% if messages %}
              {% for message in messages %}
              {{message}}
              {% endfor %}
              {% endif %}
              {% endwith %}
            </div>
        </div>

        <div class="card-footer clearfix">
          <span class="input-group-btn float-end">
            <input id="submit_button" type="submit" class="btn btn-success" value="Index local file">
          </span>
        </div>
        </form>
      </div>
    </div>
  </div>


  </div>
</div>


</div><!-- /.container -->
{% endblock %}
