<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-success text-center">
        <b>{{num_entries}} pages recorded</b>
      </div>
    </div>
  </div>

  <div class="row p-3">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center"><b>Crawl</b></div>
        <div class="card-body">
          <p> Crawl from  a start URL on your network. For now, the crawl will ignore any file that is not in either .txt or .html format.</p>

          <form method="POST" accept-charset="UTF-8" enctype="multipart/form-data"
            action="{{url_for('indexer.from_crawl')}}">
            <div class="input-group p-2">
              <span class="input-group-text">URL</span>
              <input required type="text" class="form-control" placeholder="Ex: http://localhost:9090/static/testdocs/root/Webpages/example.html" name='url' id='url'>
            </div>
        </div>
        <div class="card-footer clearfix">
          <span class="input-group-btn float-end">
            <input id="submit_button" type="submit" class="btn btn-success" value="Start crawl">
          </span>
        </div>
        </form>
      </div>
    </div>

  </div>


  </div>
</div>


</div><!-- /.container -->
{% endblock %}
